.titulo{
  font-family: 'JungleLand';
  font-size:xx-large;
}

.close{
  width: 35px;
  height: 35px;
}

.btnVincularArtistModal
{
  font-family: 'LulaBorges';
  font-size:large;
  width: 250px;
}


ion-item {
  padding: 0 !important;
  margin: 0 !important;
}
ion-icon {
  margin: 0 !important;
}
ion-col {
  padding: 0 !important;
  margin: 0 !important;
}
ion-row {
  padding: 0 !important;
  margin: 0 !important;
}
ion-grid {
  padding: 0 !important;
  margin: 0 !important;
}
