<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons end slot="start">
      <ion-icon ion-button (click)="closeModalHQ()" name="close-outline" class="close" color="tertiary"></ion-icon>
    </ion-buttons>
    <ion-title class="titulo">Vincular Artistas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-list class="Lista">
    <ion-list-header color="primary" class="headerArtistas">Artistas</ion-list-header>
      <ion-searchbar animated placeholder="Nome do Artista" color="light" class="pesquisa"></ion-searchbar>
      <!--A geração dos Items será automatizada-->
      <ion-item color="light" class="itemBoxArtist">
      <ion-label class="labelList">Artista 1</ion-label>
      <ion-checkbox color="tertiary" slot="start" class="checkboxArtist"></ion-checkbox>
      <ion-thumbnail slot="start" class="avatar">
        <img src="./assets/icons/ExemploQuadrinista.png">
      </ion-thumbnail>
    </ion-item>

    <ion-item color="light" class="itemBoxArtist">
      <ion-label class="labelList">Artista 2</ion-label>
      <ion-checkbox color="tertiary" slot="start" class="checkboxArtist"></ion-checkbox>
      <ion-thumbnail slot="start" class="avatar">
        <img src="./assets/icons/ExemploQuadrinista2.png">
      </ion-thumbnail>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar color="secondary" class="ion-text-center">
    <ion-button color="tertiary" class="btnVincularArtistModal">Finalizar</ion-button>
  </ion-toolbar>
</ion-footer>

