<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons end slot="start">
      <ion-icon ion-button (click)="closeModal()" name="close-outline" class="close" color="tertiary"></ion-icon>
    </ion-buttons>
    <ion-title class="titulo">Redes Sociais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-item color="primary" class="itemBoxSocialMedia">
    <ion-icon slot="start" class=" ion-align-self-center iconSocialMedia Facebook" name="logo-facebook"></ion-icon>
    <ion-label position="stacked" class="labelSocialMedia">Facebook</ion-label>
  </ion-item>
  <ion-item color="primary" class="itemBoxSocialMedia">
    <ion-input type="url" class="inputSocialMedia"></ion-input>
  </ion-item>

  <ion-item color="primary" class="itemBoxSocialMedia">
    <ion-icon slot="start" class=" ion-align-self-center iconSocialMedia Instagram" name="logo-instagram"></ion-icon>
    <ion-label position="stacked" class="labelSocialMedia">Instagram</ion-label>
  </ion-item>
  <ion-item color="primary" class="itemBoxSocialMedia">
    <ion-input type="url" class="inputSocialMedia"></ion-input>
  </ion-item>

  <ion-item color="primary" class="itemBoxSocialMedia">
    <ion-icon slot="start" class=" ion-align-self-center iconSocialMedia Twitter" name="logo-twitter"></ion-icon>
    <ion-label position="stacked" class="labelSocialMedia">Twitter</ion-label>
  </ion-item>
  <ion-item color="primary" class="itemBoxSocialMedia">
    <ion-input type="url" class="inputSocialMedia"></ion-input>
  </ion-item>

  <ion-item color="primary" class="itemBoxSocialMedia">
    <ion-icon slot="start" class=" ion-align-self-center iconSocialMedia Site" name="logo-google"></ion-icon>
    <ion-label position="stacked" class="labelSocialMedia">Site</ion-label>
  </ion-item>
  <ion-item color="primary" class="itemBoxSocialMedia">
    <ion-input type="url" class="inputSocialMedia"></ion-input>
  </ion-item>

  <ion-item color="primary" class="itemBoxSocialMedia">
    <ion-icon slot="start" class=" ion-align-self-center iconSocialMedia Portifolio" name="logo-behance"></ion-icon>
    <ion-label position="stacked" class="labelSocialMedia">Portifólio</ion-label>
  </ion-item>
  <ion-item color="primary" class="itemBoxSocialMedia">
    <ion-input type="url" class="inputSocialMedia"></ion-input>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary" class="ion-text-center">
    <ion-button color="tertiary" class="btnSocialMediaModal">Finalizar</ion-button>
  </ion-toolbar>
</ion-footer>
