<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons end slot="start">
      <ion-icon ion-button (click)="closeModal()" name="close-outline" class="close" color="tertiary"></ion-icon>
    </ion-buttons>
    <ion-title class="titulo">Redes Sociais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

</ion-content>

<ion-footer>
  <ion-toolbar color="secondary" class="ion-text-center">
    <ion-button color="tertiary" class="btnSocialMediaModal">Finalizar</ion-button>
  </ion-toolbar>
</ion-footer>
