.mensagem{
  font-family: 'JungleLand';
  font-size:large;
}

.imagem{
width: 250px;
}

.container{
  padding-top: 5px;
}

.btnhome
{
  font-family: 'LulaBorges';
  font-size:large;
  width: 250px;
}

.labelLogin{
  font-family: 'JungleLand';
  font-size:large;
  font-weight:bold;
}

.itemLogin{
  border-color: #011630;
  border-width: medium;
  border-style: solid;
  border-radius: 5px;
}

.inputLogin{
  font-family: 'Trebuc';
  font-weight: bold;
}

.slide-inner {
  background-color: #0072bc;
  border-radius: 10px;
}

.slides {
  padding-top: 15px;
}
