.titulo{
  font-family: 'JungleLand';
  font-size:xx-large;
}

.labelArtist{
  font-family: 'LulaBorges';
  font-size:x-large;
  font-weight:bold;
  padding-bottom: 15px;
}

.inputArtist{
  background: white;
  border-color: #011630;
  border-width: medium;
  border-style: solid;
  border-radius: 5px;
  font-family: 'LulaBorges';
}

.itemBoxArtist {
  --highlight-color-focused: none;
  --border-style: none;
}

.btnArtist
{
  font-family: 'LulaBorges';
  font-size:large;
  width: 250px;
}
