.titulo{
  font-family: 'JungleLand';
  font-size:xx-large;
}

.labelArtist{
  font-family: 'LulaBorges';
  font-size:x-large;
  font-weight:bold;
  padding-bottom: 15px;
}

.inputArtist{
  background: white;
  border-color: #011630;
  border-width: medium;
  border-style: solid;
  border-radius: 5px;
  font-family: 'Trebuc';
  font-weight: bold;
}

.itemBoxArtist {
  --highlight-color-focused: none;
  --border-style: none;
}

.btnArtist
{
  font-family: 'LulaBorges';
  font-size:large;
  width: 250px;
}

.selectStateArtist{
  font-family: 'LulaBorges';
  background: white;
  border-color: #011630;
  border-width: medium;
  border-style: solid;
  border-radius: 5px;
  text-align: center;

}

.btnModalArtist
{
  font-family: 'LulaBorges';
  font-size:large;
  margin-top: 35px;
  width: 85%;
  height: 45px;
  border-radius: 5px;
}

.file {
  opacity: 0;
  width: 0.2px;
  height: 0.2px;
  position: absolute;
}

.file-input
{
 padding-top: 10px;
}

.file-input label {
  display: block;
  font-family: 'LulaBorges';
  font-size:large;
  position: relative;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #011630;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  margin: 0 auto; // para alinhar ao centro
}

.labelSocialMedia{
  font-family: 'LulaBorges';
  font-size:x-large;
  font-weight:bold;
  padding-bottom: 15px;
  margin-left: 5px;
}


.iconSocialMedia{
   padding: 5px;
   border-width: medium;
   border-style: solid;
   border-radius: 50px;
   width: 30px;
   height: 30px;
 }

 .Facebook{
   color: #3b5998;
   background: white;
 }

 .Instagram{
   background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
   radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
   radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
   radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
   radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
   radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
   radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
   linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
   color: white;
   border-color: #011630;
 }

 .Twitter{
   color: #00acee;
   background: white;
 }

 .Site{
   color: #011630;
   background: white;
 }

 .Portifolio{
   color: #053eff;
   background: white;
 }

ion-col {
  padding: 0 !important;
  margin: 0 !important;
}

ion-icon {
  margin: 0 !important;
}

ion-row {
  padding: 0 !important;
  margin: 0 !important;
}
ion-grid {
  padding: 0 !important;
  margin: 0 !important;
}
