.titulo{
  font-family: 'JungleLand';
  font-size:xx-large;
}

.labelArtist{
  font-family: 'LulaBorges';
  font-size:x-large;
  font-weight:bold;
  padding-bottom: 15px;
}

.inputArtist{
  background: white;
  border-color: #011630;
  border-width: medium;
  border-style: solid;
  border-radius: 5px;
  font-family: 'JungleLand';
}

.itemBoxArtist {
  --highlight-color-focused: none;
  --border-style: none;
}

.btnArtist
{
  font-family: 'LulaBorges';
  font-size:large;
  width: 250px;
}

.selectStateArtist{
  font-family: 'LulaBorges';
  background: white;
  border-color: #011630;
  border-width: medium;
  border-style: solid;
  border-radius: 5px;
  text-align: center;

}

.btnModalArtist
{
  font-family: 'LulaBorges';
  font-size:large;
  margin-top: 15px;
  width: 95%;
  height: 80%;
  border-radius: 5px;
}

ion-col {
  padding: 0 !important;
  margin: 0 !important;
}

ion-row {
  padding: 0 !important;
  margin: 0 !important;
}
ion-grid {
  padding: 0 !important;
  margin: 0 !important;
}
