<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
    <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Novo Artista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

<form [formGroup]="registrationForm">

  <ion-item color="primary" class="itemBoxArtist">
    <ion-label position="stacked" class="labelArtist">Nome Completo</ion-label>
    <ion-input class="inputArtist" autocapitalize inputmode="text" formControlName="name" [(ngModel)]="newArtist.name" ></ion-input>
  </ion-item>

  <ion-item color="primary" class="itemBoxArtist">
    <ion-label position="stacked" class="labelArtist">Nome Artístico</ion-label>
    <ion-input class="inputArtist" autocapitalize inputmode="text" formControlName="nameArtist" [(ngModel)]="newArtist.nameArtist" ></ion-input>
  </ion-item>

  <ion-item color="primary" class="itemBoxArtist">
    <ion-label position="stacked" class="labelArtist">CPF</ion-label>
    <ion-input class="inputArtist" autocapitalize inputmode="text" formControlName="CPF" [(ngModel)]="newArtist.CPF" ></ion-input>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size="7" >
        <ion-item color="primary" class="itemBoxArtist">
          <ion-label position="stacked" class="labelArtist">Cidade</ion-label>
          <ion-input class="inputArtist" autocapitalize inputmode="text" formControlName="city" [(ngModel)]="newArtist.city" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="5" >
        <ion-item color="primary" class="itemBoxArtist">
          <ion-label position="stacked" class="labelArtist">Estado</ion-label>
          <ion-select interface="popover" class="selectStateArtist" formControlName="state" [(ngModel)]="newArtist.state">
            <ion-select-option value="AC">Acre</ion-select-option>
            <ion-select-option value="AL">Alagoas</ion-select-option>
            <ion-select-option value="AP">Amapá</ion-select-option>
            <ion-select-option value="AM">Amazonas</ion-select-option>
            <ion-select-option value="BA">Bahia</ion-select-option>
            <ion-select-option value="CE">Ceará</ion-select-option>
            <ion-select-option value="DF">Distrito Federal</ion-select-option>
            <ion-select-option value="ES">Espírito Santo</ion-select-option>
            <ion-select-option value="GO">Goiás</ion-select-option>
            <ion-select-option value="MA">Maranhão</ion-select-option>
            <ion-select-option value="MT">Mato Grosso</ion-select-option>
            <ion-select-option value="MS">Mato Grosso do Sul</ion-select-option>
            <ion-select-option value="MG">Minas Gerais</ion-select-option>
            <ion-select-option value="PA">Pará</ion-select-option>
            <ion-select-option value="PB">Paraíba</ion-select-option>
            <ion-select-option value="PR">Paraná</ion-select-option>
            <ion-select-option value="PE">Pernambuco</ion-select-option>
            <ion-select-option value="PI">Piauí</ion-select-option>
            <ion-select-option value="RJ">Rio de Janeiro</ion-select-option>
            <ion-select-option value="RN">Rio Grande do Norte</ion-select-option>
            <ion-select-option value="RS">Rio Grande do Sul</ion-select-option>
            <ion-select-option value="RO">Rondônia</ion-select-option>
            <ion-select-option value="RR">Roraima</ion-select-option>
            <ion-select-option value="SC">Santa Catarina</ion-select-option>
            <ion-select-option value="SP">São Paulo</ion-select-option>
            <ion-select-option value="SE">Sergipe</ion-select-option>
            <ion-select-option value="TO">Tocantins</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item color="primary" class="itemBoxArtist">
    <ion-label position="stacked" class="labelArtist">Mini-Biografia</ion-label>
    <ion-textarea placeholder="Insira a mini-biografia do artista" class="inputArtist" autocapitalize inputmode="text" formControlName="biography" [(ngModel)]="newArtist.biography"></ion-textarea>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size="6" >
        <ion-item color="primary" class="itemBoxArtist">
          <div class="file-input">
            <input type="file" id="file" class="file">
            <label for="file">Foto</label>
          </div>
        </ion-item>
      </ion-col>
      <ion-col size="6" >
        <ion-item color="primary" class="itemBoxArtist">
          <ion-button color="tertiary" class="btnModalArtist" (click)="openModal()">Redes Sociais</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</form>
</ion-content>


<ion-footer>
  <ion-toolbar color="secondary" class="ion-text-center">
    <ion-button color="tertiary" class="btnArtist" (click)="addArtist()" [disabled]="!registrationForm.valid" type="submit" >Finalizar</ion-button>
  </ion-toolbar>
</ion-footer>
