<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <div>
    <IonButton color="primary" expand="block" size="default"
      [routerLink]="['/list']" routerdirection="forward">Ver Artistas</IonButton>
    </div>

    <div>
      <IonButton color="primary" expand="block" size="default"
        [routerLink]="['/artist']" routerdirection="forward">Cadastrar Artistas</IonButton>
    </div>

    <div>
    <IonButton color="primary" expand="block" size="default"
      [routerLink]="['/hq']" routerdirection="forward">Cadastrar HQ</IonButton>
    </div>

  </div>

</ion-content>
