<ion-content color="primary">
  <div class="logo">
    <img src="/assets/logo.png">
    <div class="container ion-text-center">
      <span>O aplicativo de Onboarding dos Artistas Parceiros</span>
    </div>
  </div>
</ion-content>

<ion-content color="primary">
  <ion-toolbar color="primary">
    <ion-buttons
    [routerLink]="['/list']" routerdirection="forward">Ver Artistas</ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-buttons
      [routerLink]="['/artist']" routerdirection="forward">Cadastrar Artistas</ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary">
  <ion-buttons
    [routerLink]="['/hq']" routerdirection="forward">Cadastrar HQ</ion-buttons>
  </ion-toolbar>

</ion-content>

